html {
    font-size: 16px;
}

#header {
    background-image: url(background.jpg);
    object-fit: cover;
    color: #FFFFFF;
    margin: 0px;
}

#logo {
    display: inline-block;
    font-family: Inter;
    font-size: 30.4px;
    font-weight: 900;
    line-height: 36.79px;
    text-align: left;
    padding: 90px;    
}

#menu {
    float: right;
    padding: 90px 40px;
}

#img-1 {
    height: 50px;
    width: 50px;
}

#text-head {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 90px;
    padding: 200px 20px ;
}

#rectangle {
    width: 150px;
    height: 20px;
    background-color: #FFFFFF;

}

#head {
    font-family: 'Libre Caslon Display',sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-align: left;
}

#content {
    font-family: Inter;
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    padding: 50px 0 35px 0;
}

#learn-more {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
}