html {
    font-size: 16px;
}

#header {
    background-image: url(background.jpg);
    object-fit: cover;
    color: #FFFFFF;
    margin: 0px;
}

#logo {
    display: inline-block;
    font-family: Inter;
    font-size: 30.4px;
    font-weight: 900;
    line-height: 36.79px;
    text-align: left;
    padding: 90px;    
}

#menu {
    float: right;
    padding: 90px 40px;
}

#img-1 {
    height: 50px;
    width: 50px;
}

#text-head {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 90px;
    padding: 200px 20px ;
}

#rectangle {
    width: 150px;
    height: 20px;
    background-color: #FFFFFF;

}

#head {
    font-family: 'Libre Caslon Display',sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-align: left;
}

#content {
    font-family: Inter;
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    padding: 50px 0 35px 0;
}

#learn-more {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
}

#text {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin: 70px 30px;
}

.card-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid #222222;
    margin: 40px;
}

.card-box-image {
    display: flex;
    justify-content: center;
    background: url('castle.jpg') no-repeat;
    background-size: 100%;
}

.card-box-date {
    margin: 20px 50px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;


}

.card-box-headline {
    margin: 0 50px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.card-box-link {
    align-self: flex-end;
    margin-bottom: 60px;
}